# 1. Data Loading and Initial Exploration

In [2]:
# Import necessary libraries
import pandas as pd

#### 1.1 Load the dataset

In [3]:
df = pd.read_csv("listings.csv")

#### 1.2 Basic Data Exploration

In [4]:
print("Dataset shape:", df.shape)

Dataset shape: (96651, 18)

In [5]:
print("First 5 rows")
display(df.head())

First 5 rows

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,264776,Huge Four Bedroom Apartment,1389063,Sue,NaN,Lewisham,51.44306,-0.01948,Entire home/apt,297.0,3,68,2025-05-28,0.51,11,293,12,NaN
1,264777,One Bedroom Apartment,1389063,Sue,NaN,Lewisham,51.44284,-0.01997,Entire home/apt,98.0,3,24,2024-12-11,0.22,11,318,4,NaN
2,264778,Two Bedroom Newly Refurbished Apartment,1389063,Sue,NaN,Lewisham,51.44359,-0.02275,Entire home/apt,148.0,3,58,2025-05-01,0.43,11,302,6,NaN
3,264779,Refurbished Two Bedroom Apartment,1389063,Sue,NaN,Lewisham,51.44355,-0.02309,Entire home/apt,144.0,3,36,2025-04-10,0.30,11,328,7,NaN
4,264780,Spacious refurbished 2 bedroom apt with balcony,1389063,Sue,NaN,Lewisham,51.44333,-0.02307,Entire home/apt,157.0,3,54,2024-12-29,0.35,11,255,4,NaN

In [6]:
print("Dataset Info")
df.info()

Dataset Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96651 entries, 0 to 96650
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              96651 non-null  int64
 1   name                            96651 non-null  object
 2   host_id                         96651 non-null  int64
 3   host_name                       96611 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   96651 non-null  object
 6   latitude                        96651 non-null  float64
 7   longitude                       96651 non-null  float64
 8   room_type                       96651 non-null  object
 9   price                           62684 non-null  float64
 10  minimum_nights                  96651 non-null  int64
 11  number_of_reviews               96651 non-null  int64
 12  last_review                     71487 non-null  object
 13  reviews_per_month               71487 non-null  float64
 14  calculated_host_listings_count  96651 non-null  int64
 15  availability_365                96651 non-null  int64
 16  number_of_reviews_ltm           96651 non-null  int64
 17  license                         0 non-null      float64
dtypes: float64(6), int64(7), object(5)
memory usage: 13.3+ MB

In [7]:
print("Summary Statistics")
df.describe(include='all')

Summary Statistics

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
count,9.665100e+04,96651,9.665100e+04,96611,0.0,96651,96651.000000,96651.000000,96651,62684.000000,96651.000000,96651.000000,71487,71487.000000,96651.000000,96651.000000,96651.000000,0.0
unique,NaN,93001,NaN,16658,NaN,33,NaN,NaN,4,NaN,NaN,NaN,3522,NaN,NaN,NaN,NaN,NaN
top,NaN,Double room,NaN,James,NaN,Westminster,NaN,NaN,Entire home/apt,NaN,NaN,NaN,2025-06-08,NaN,NaN,NaN,NaN,NaN
freq,NaN,29,NaN,960,NaN,11367,NaN,NaN,62456,NaN,NaN,NaN,2101,NaN,NaN,NaN,NaN,NaN
mean,6.526020e+17,NaN,2.091790e+08,NaN,NaN,NaN,51.509818,-0.127087,NaN,213.366058,5.429504,20.891734,NaN,0.958877,16.389370,139.697365,5.634665,NaN
std,5.708808e+17,NaN,2.141266e+08,NaN,NaN,NaN,0.048945,0.100853,NaN,860.901557,23.315086,49.922266,NaN,1.282595,53.299577,137.426817,11.951389,NaN
min,1.391300e+04,NaN,2.594000e+03,NaN,NaN,NaN,51.295937,-0.496760,NaN,6.000000,1.000000,0.000000,NaN,0.010000,1.000000,0.000000,0.000000,NaN
25%,2.955518e+07,NaN,2.673176e+07,NaN,NaN,NaN,51.484240,-0.189060,NaN,75.000000,1.000000,0.000000,NaN,0.150000,1.000000,0.000000,0.000000,NaN
50%,8.123206e+17,NaN,1.128684e+08,NaN,NaN,NaN,51.513791,-0.126990,NaN,135.000000,2.000000,4.000000,NaN,0.500000,2.000000,93.000000,0.000000,NaN
75%,1.197378e+18,NaN,4.063762e+08,NaN,NaN,NaN,51.539099,-0.067880,NaN,225.000000,4.000000,19.000000,NaN,1.230000,8.000000,270.000000,6.000000,NaN
max,1.439673e+18,NaN,7.001298e+08,NaN,NaN,NaN,51.682630,0.278960,NaN,74100.000000,1125.000000,1855.000000,NaN,38.410000,495.000000,365.000000,355.000000,NaN

#### 1.3 Check for missing values, duplicates and data types

In [8]:
missing = df.isnull().sum().sort_values(ascending=False)
print("Missing values by column")
print(" ")
print(missing.head(20))

Missing values by column

license                           96651
neighbourhood_group               96651
price                             33967
last_review                       25164
reviews_per_month                 25164
host_name                            40
host_id                               0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
name                                  0
minimum_nights                        0
number_of_reviews                     0
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
id                                    0
dtype: int64

In [9]:
print(f"Number of duplicated rows: {df.duplicated().sum()}")

Number of duplicated rows: 0

In [10]:
print("Data types of each column")

df.dtypes

Data types of each column

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group               float64
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                             float64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
number_of_reviews_ltm               int64
license                           float64
dtype: object

### 2. Data Cleaning

In [11]:
# Make a copy to keep raw data intact
clean_df = df.copy()

In [12]:
# Check all the colums in the datafram
clean_df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')

#### 2.1 Convert price field to numeric

In [13]:
if 'price' in clean_df.columns:
    clean_df['price'] = (
        clean_df['price']
        .astype(str)
        .str.replace(r'[\$,]', '', regex=True)
        .astype(float)
    )

print(f"Data type of price column: {clean_df['price'].dtype}")

Data type of price column: float64

#### 2.2 Parse dates for `last_review` column

In [14]:
clean_df['last_review'] = pd.to_datetime(clean_df['last_review'], errors='coerce')

print(f"Data type of last_review column: {clean_df['last_review'].dtype}")

Data type of last_review column: datetime64[ns]

#### 2.3 Handle missing values

In [15]:
# Fill missing reviews_per_month with 0
clean_df['reviews_per_month'] = clean_df['reviews_per_month'].fillna(0)

print(f"Number of missing values in reviews_per_month column: {clean_df['reviews_per_month'].isnull().sum()}")

Number of missing values in reviews_per_month column: 0

In [16]:
# Fill missing host_name with 'Unknown Host'
clean_df['host_name'] = clean_df['host_name'].fillna('Unknown Host')

In [17]:
# Fill missing neighbourhood_group with 'Unknown'
clean_df['neighbourhood_group'] = clean_df['neighbourhood_group'].fillna('Unknown')

#### 2.4 Remove irrelevant rows

In [18]:
# Remove listings with price <= 0 or missing
clean_df = clean_df[clean_df['price'].notnull() & (clean_df['price'] > 0)]

In [19]:
# Remove listings with 0 availability
clean_df = clean_df[clean_df['availability_365'] > 0]

In [20]:
print("Cleaned dataset shape:", clean_df.shape)
display(clean_df.head())

Cleaned dataset shape: (61991, 18)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,264776,Huge Four Bedroom Apartment,1389063,Sue,Unknown,Lewisham,51.44306,-0.01948,Entire home/apt,297.0,3,68,2025-05-28,0.51,11,293,12,NaN
1,264777,One Bedroom Apartment,1389063,Sue,Unknown,Lewisham,51.44284,-0.01997,Entire home/apt,98.0,3,24,2024-12-11,0.22,11,318,4,NaN
2,264778,Two Bedroom Newly Refurbished Apartment,1389063,Sue,Unknown,Lewisham,51.44359,-0.02275,Entire home/apt,148.0,3,58,2025-05-01,0.43,11,302,6,NaN
3,264779,Refurbished Two Bedroom Apartment,1389063,Sue,Unknown,Lewisham,51.44355,-0.02309,Entire home/apt,144.0,3,36,2025-04-10,0.30,11,328,7,NaN
4,264780,Spacious refurbished 2 bedroom apt with balcony,1389063,Sue,Unknown,Lewisham,51.44333,-0.02307,Entire home/apt,157.0,3,54,2024-12-29,0.35,11,255,4,NaN

# 3. Data Enrichment

#### 3.1 Create price_per_booking

In [21]:
clean_df['price_per_booking'] = clean_df['price'] * clean_df['minimum_nights']

#### 3.2 Categorize availability

In [22]:
def categorize_availability(days):
    if days > 300:
        return 'Full-time'
    elif days >= 100:
        return 'Part-time'
    else:
        return 'Rare'

clean_df['availability_bucket'] = clean_df['availability_365'].apply(categorize_availability)

In [23]:
print("Enriched data preview:")
display(clean_df[['price', 'minimum_nights', 'price_per_booking', 'availability_365', 'availability_bucket']].head())

Enriched data preview:

,price,minimum_nights,price_per_booking,availability_365,availability_bucket
0,297.0,3,891.0,293,Part-time
1,98.0,3,294.0,318,Full-time
2,148.0,3,444.0,302,Full-time
3,144.0,3,432.0,328,Full-time
4,157.0,3,471.0,255,Part-time

# 4. Data Analysis Using Pandas

#### Q1: Top 10 most expensive neighborhoods by average price

In [24]:
top10_neighborhoods = (
    clean_df.groupby('neighbourhood')['price']
    .mean()
    .sort_values(ascending=False)
    .head(10)
)

print("Top 10 Most Expensive Neighborhoods by Average Price:")
display(top10_neighborhoods)

Top 10 Most Expensive Neighborhoods by Average Price:

neighbourhood
City of London            379.090909
Lambeth                   371.780972
Kensington and Chelsea    362.972805
Westminster               343.499335
Camden                    229.625084
Islington                 218.462021
Hammersmith and Fulham    193.441929
Wandsworth                189.752249
Richmond upon Thames      184.709962
Brent                     169.960661
Name: price, dtype: float64

#### Q2: Average availability and price by room type

In [25]:
room_stats = (
    clean_df.groupby('room_type')[['availability_365', 'price']]
    .mean()
    .sort_values('price', ascending=False)
)

print("Average Availability and Price by Room Type:")
display(room_stats)

Average Availability and Price by Room Type:

                 availability_365       price
room_type
Hotel room             239.223881  310.970149
Entire home/apt        202.283972  256.596932
Private room           216.120233  120.019272
Shared room            261.076023   83.637427

#### Q3: Which host has the most listings?

In [26]:
top_hosts = (
    clean_df['host_id']
    .value_counts()
    .head(10)
)

print("Top 10 Hosts with Most Listings:")
display(top_hosts)

Top 10 Hosts with Most Listings:

446820235    469
314162972    348
1432477      191
33889201     187
156158778    126
439074505    117
185324181    113
124359784    109
215357262    106
590452007    102
Name: host_id, dtype: int64

#### Q4: How does average price vary across boroughs/districts?

In [27]:
borough_prices = (
    clean_df.groupby('neighbourhood_group')['price']
    .mean()
    .sort_values(ascending=False)
)
print("Average Price by Borough/District:")    
display(borough_prices)

Average Price by Borough/District:

neighbourhood_group
Unknown    212.621622
Name: price, dtype: float64

#### Q5: How many listings have never been reviewed?

In [28]:
never_reviewed_listings = clean_df[clean_df['number_of_reviews'] == 0]
print(f"Number of listings never reviewed: {len(never_reviewed_listings)}")

Number of listings never reviewed: 14853

# 5. Summary Insights

1. **Prices vary widely**  listings in the top neighbourhoods are significantly priced above the city median.

2. **Room type strongly influences price**  *Hotel room* and *Entire home/apt* categories tend to be the most expensive overall.

3. **Some listings have never been reviewed**  this may indicate new listings or hosts who are not very active.